<!DOCTYPE html>

<html lang="ko">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>커피 주문</title>
    <link href="{{ url_for('static', filename='coffee.ico') }}" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!--폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--jquery-->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!--리스트뷰-->
    <script src="https://SortableJS.github.io/Sortable/Sortable.js"></script>
    <!--길이 조절 가능한 레이아웃-->
    <script src="https://unpkg.com/split.js/dist/split.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--한글 자모 분리-->
    <script src="https://unpkg.com/hangul-js" type="text/javascript"></script>

</head>
<body>

    <div class = "middle">
        <div class="split">
            <!-- 커피 리스트 -->
            <div class="coffee-menu" id="coffee-menu"> 
                필터 : <input type="input" id="search" list="search-datalist">
                <datalist id="search-datalist">
                </datalist>
                <br>
                <div class="coffee-menu-list" id="coffee-menu-list">

                </div>
            </div>

            <!--주문 리스트-->
            <div id="coffee-order">
                <input type="button" value="주문복사" id="coffee-order-copy">
                <input type="button" value="새로고침" id="coffee-order-refresh">
                <ul id="coffee-order-list" class="list-group">
                
                </ul>
            </div>
            
        </div>

        <!--커피 템플릿-->
        <div id="coffee-template" style="display:none">
            <div class="coffee-box">
                <img src="" />
            </div>
            <span>커피 이름</span>
        </div>

        <!-- 커피 옵션 선택 창-->
        <div class="coffee-option">
            <div class="coffee-option-box">
                <div class="coffee-option-top">
                    <img class="coffee-option-img" src=""/>
                </div>
                <ul class="coffee-option-list">
                    <li>
                        <span>종류</span>
                        <div class="switch-field" id="타입">
                            
                        </div>
                    </li>
                    <li>
                        <span>사이즈</span>
                        <div class="switch-field" id="사이즈">
                            
                        </div>
                    </li>
                    <li>
                        <span>샷 추가</span>
                        <div class="switch-field" id="샷추가">

                        </div>
                    </li>
                </ul>
                <input type="button" class="coffee-option-add" value="담기"/>
            </div>
        </div>
    </div>

    <div class="top-bar">
        <span>커피 주문</span>
    </div>

    <div class="bottom-bar">
        <span>커피 주문</span>
    </div>
    
    <script>
        var coffee_dic = {};
        var coffee_option = $('.coffee-option');
        var coffee_current = null;
        var coffee_orders = null;
        var split = null;

        // radio 버튼 동적 생성
        function make_radio_button(option_name, opt_list) {
            var result = '';
            $.each(opt_list, function(index, value) {
                var id =  option_name + index;
                result += '<input type="radio" id="' + id + '" name="' + option_name + '"' + ' value="' + value + '"' + (index == 0 ? ' checked' : '') + '/>';
                result += '<label for="' + id + '">' + value + '</label>';
            });
            return result;
        }

        // 팝업 열기
        function popup_open() {
            coffee_current = null;
            $('.coffee-option').css('display', 'flex');
        }

        // 팝업 닫기
        function popup_close() {
            coffee_option.css('display', 'none');
            coffee_current = null;
        }

        // 데이터 요청 (Default.aspx/GetData)
        function get_data(cmd, success) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '{{url_for("get_data")}}',
                data: JSON.stringify({cmd:cmd}),
                async: false,
                success: function (response) {
                    if (response['result'] == 'success') {
                        success(response['data']);
                    }
                    else {
                        alert('error : ' + response['data']);
                    }
                },
                error: function (response) {
                    alert('error');
                },
                complete : function() {}
            });
        }
        // 데이터 설정 (Default.aspx/SetData)
        function set_data(cmd, data, success) {
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '{{url_for("set_data")}}',
                data: JSON.stringify({cmd:cmd, data:data}),
                async: false,
                success: function (response) {
                    if (response['result'] == 'success') {
                        success(response['data']);
                    }
                    else {
                        alert('error : ' + response['data']);
                    }
                },
                error: function (response) {
                    alert('error');
                },
                complete : function() {}
            });
        }

        // 커피 목록 받아오기
        function get_coffees() {
            var success = function (data) {
                    // 커피 목록 비우기
                    $('.coffee-menu-list').html('');

                    coffee_dic = data;
                    var data_list = '';
                    // 커피 목록 갱신하기
                    $.each(coffee_dic, function(coffee_name, coffee) {
                        var html = $('#coffee-template').clone();
                        //html.attr('id', coffee['이름']);
                        html.attr('class', 'coffee');
                        html.attr('id', coffee['이름']);
                        html.css('display', 'block');
                        html.children('span').text(coffee['이름']);
                        html.children('.coffee-box').children('img').attr('src', '/static/' + coffee["이미지"]);
                        $('.coffee-menu-list').append(html);

                        data_list += '<option value="' + coffee['이름'] + '">';
                    });
                    // 검색어 추천
                    $('#search-datalist').html(data_list);

                    // 커피 클릭 이벤트 등록하기
                    $('.coffee-box').click(function() {
                        popup_open();

                        var coffee = coffee_dic[$(this).parent().attr('id')];
                        $('.coffee-option-img').attr('src', '/static/' + coffee["이미지"]);
                        
                        // 옵션 설정하기
                        $.each(coffee['옵션'], function(opt_name, opt_list) {
                            $('#' + opt_name).html(make_radio_button(opt_name, opt_list));
                        });
                        coffee_current = coffee;
                    });
                }

           get_data('get_coffees', success);
        }
        
        
        // 커피 주문 목록 받아오기
        function get_orders() {
            var success = function(data) {
                
                var li = '';
                var orders = data;
                $.each(orders, function(key, coffee) {
                    li += '<li class="list-group-item" name="' + key + '"><div class="list-group-item-container">' + 
                        '<img class="list-group-item-img" src="' + '/static/' + coffee["이미지"] +'"/>' +
                        '<div class="list-group-item-overlay"><p class="list-group-item-overlay-text">삭제</p></div></div>' +
                        '<details><summary>' + coffee["이름"] + '(' + coffee['주문자'] + ')</summary>' + 
                            '<p class="list-group-item-option">' + JSON.stringify(coffee['옵션']) + '</p></details></li>'
                });
                $('#coffee-order-list').html(li);
                $('.list-group-item-container').click(function(){
                    remove_order($(this).parent().attr('name'));
                });
                coffee_orders = Sortable.create(document.getElementById('coffee-order-list'), {
                    sort : false,
                    });
            }
            get_data('get_orders', success);
        }

        // 커피 주문하기
        function add_order() {
            if (coffee_current == null) {
                alert('오류! 선택된 커피가 없습니다.');
            }
            var coffee = $.extend(true, {}, coffee_current);
            var options = Object.keys(coffee['옵션']);
            $.each(options, function(index, value) {
                coffee['옵션'][value] = $("input[name='" + value + "']:checked").val()
            });

            var success = function () {
                get_orders();
            }

            set_data('add_order', coffee, success)
        }

        // 커피 주문 취소하기
        function remove_order(id) {
            var success = function () {
                get_orders();
            }
            set_data('remove_order', id, success);
        }

        // 문서 준비 완료
        $(document).ready(function() {
            /* 이름 확인하기 */
            get_data("get_name", function (data) {
                // 이름 없는 경우
                if (data == "") {
                    var name = prompt('사용자 이름을 입력해주세요', '이름');
                    if (name != null && name != "") {
                        set_data("set_name", name, function(data) {
                            alert(data);
                            location.reload();
                        });
                    }
                    else {
                        alert("주문을 위해서 반드시 이름이 필요합니다.");
                        location.reload();
                    }
                }
                else {
                    split = Split(['#coffee-menu', '#coffee-order'], {
                        minSize: 240,
                    });

                    get_coffees();
                    get_orders();
                    // 팝업 닫기
                    $(document).mouseup(function (e){
                        if(coffee_option.has(e.target).length==0) {
                            popup_close(); 
                        } 
                    });

                    // 커피 추가하기
                    $('.coffee-option-add').click(function() {
                        add_order();
                        popup_close(); 
                    });

                    // 검색 필터
                    $('#search').keyup(function(event) {
                        var keyword = $(this).val();
                        
                        if (keyword == "") {
                            $('.coffee').show();
                        }
                        else if (keyword != undefined) {
                            $('.coffee').each(function (index, item) {
                                var coffee_name = $(item).attr('id');
                                if (coffee_name != undefined) {
                                    if (Hangul.search(coffee_name, keyword) >= 0) {
                                        $(item).show();
                                    }
                                    else {
                                        $(item).hide();
                                    }
                                }
                            });
                        }
                        console.log('keyword : ' + keyword);

                    });

                    // 주문 복사
                    $('#coffee-order-copy').click(function() {
                        get_data("get_orders_str", function(data) {
                            // clipboard api 가 가능한 경우. source : https://www.delftstack.com/ko/howto/javascript/javascript-copy-to-clipboard/
                            if (navigator.clipboard) {
                                navigator.clipboard.writeText(data)
                                    .then(() => {
                                        alert('copy success');
                                })
                                    .catch(err => {
                                        alert('copy fail');
                                })
                            }
                            // execCommand. source : https://velog.io/@godori/js-clipboard-copy
                            else {
                                var tempElem = document.createElement('textarea');
                                tempElem.value = data;  
                                document.body.appendChild(tempElem);

                                tempElem.select();
                                document.execCommand("copy");
                                document.body.removeChild(tempElem);
                                alert('copy success');
                            }
                        });
                    });

                    // 주문 새로고침
                    $('#coffee-order-refresh').click(function() {
                        get_orders();
                    });
                }
            });    
        });
    </script>
</body>